<div data-controller="image-input">
  <%= form.file_field(
    field,
    class: 'hidden',
    accept: accept,
    direct_upload: direct_upload,
    data: {
      target: 'image-input.field',
      action: 'change->image-input#onFileChosen'
    }
  ) %>

  <% if blob.attached? && blob.image? %>
    <%= image_tag(
      blob.variant(resize_to_limit: [300, 300]),
      data: { target: 'image-input.image' },
      class: image_class || 'rounded-md mb-4'
    ) %>
  <% end %>

  <a
    href="#"
    class="<%= button_class || 'border border-transparent cursor-pointer duration-150 ease-in-out focus:outline-none font-bold inline-block leading-5 px-4 py-2 rounded-md text-sm transition active:bg-gray-50 active:text-gray-800 bg-white border-gray-300 hover:bg-gray-100 hover:text-gray-600 text-gray-800 mr-4' %>"
    data-action="click->image-input#chooseFile"
    data-target="image-input.button"
    >
    <%= blob.attached? ? 'Change' : 'Choose file' %>
  </a>
  <span class="<%= 'hidden' unless blob.attached? %> font-mono text-sm" data-target="image-input.fileNameLabel">
    <%= blob.try(:filename) %>
  </span>
</div>
